@model JANNOWAKMVCTESTAPP.Models.PersonViewModel

<div>
    <table>
        <tr>
            <td>
                @Html.LabelFor(m => m.Name)
            </td>
            <td>
                @Html.DisplayFor(m => m.Name)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(m => m.EmailAddress)
            </td>
            <td>
                @Html.DisplayFor(m => m.EmailAddress)
            </td>
        </tr>
    </table>
</div>